*{
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,body{
  width: 100%;height: auto;min-height: 100%;float:left;margin: 0; padding: 0;background: #a0a0a0; font-family: helvetica, arial, sans-serif;font-size: 14px;
}
.countdown-container{
  width: 60%;
  height: auto;
  margin: 10% auto;
  background: white;
  min-height: 120px;
  text-align: center;
  padding: 12px;
}
.countdown-container .inner{
  width: 100%;
  height: auto;
  float:left;
}
.countdown-container h1{
  font-size: 160%;
  font-weight: 600;
}
.countdown-container .inner{
  font-size: 115%;
}
.countdown-container .inner span{
  font-weight: 600;
}
