*{box-sizing: border-box;}

html, body{
    width: 100%;
    float: left;
    height: auto;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
    background: #eae9e9;
}

.container{
    width: 100%;
    float: left;
    height: auto;
}

.header{
    width:100%;
    float: left;
    height: auto;
    background: #e80f0f;
    padding: 40px 0px 60px;
    color: #fff;
}

.countdown-container{
    width: 100%;
    float: left;
    height: auto;
}

.countdown-container .inner{
    width: 100%;
    float: left;
    height: auto;
}

.countdown-container .inner span{
    display: block;
    float: left;
    text-align:center;
    width: 25%;
}